name: Build and Release Plugin

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          
      - name: Download Jellyfin
        run: |
          curl -L https://repo.jellyfin.org/releases/server/linux/stable/combined/jellyfin_10.11.5_amd64.tar.gz -o jellyfin.tar.gz
          mkdir jellyfin
          tar -xzf jellyfin.tar.gz -C jellyfin --strip-components=1

      - name: Restore
        run: dotnet restore Server/ClipShare.csproj

      - name: Publish
        run: dotnet publish Server/ClipShare.csproj -c Release -o publish

      - name: Zip plugin
        run: |
          cd publish
          zip -r ../clipshare.zip .

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          files: clipshare.zip
